*.sdf
*.opensdf
HubSchemes/Debug/
HydronicPics/Debug/
Spread/FpLibs/FPTOOLS/DLL32/objud32/
Spread/SS/Src/Excel/objud32/
Spread/SS/Src/ssw/objud32/
TASelect/Debug/
UnitTests/cppunit/src/cppunit/Debug/
ZipArchive/Debug STL Unicode/
HydronicPics/stdafx.pch.ib_tag
TASelect/stdafx.pch.ib_tag
HubSchemes/Release/
HydronicPics/Release/
Spread/FpLibs/FPTOOLS/DLL32/obju32/
Spread/SS/Src/Excel/obju32/
Spread/SS/Src/ssw/obju32/
TASelect/Release/
UnitTests/cppunit/src/cppunit/Release/
ZipArchive/Release STL Unicode/
TASelect/Data/*.xml
TASelect/Data/*.txt
TASelect/Data/tender.zip
TASelect/Data/TAHubStylesheet.xsl
TASelect/TADB.key
TASelect/Data/TADB.xdb
TASelect/TestVesselList
*.ipch
TASelect/Data/TADB.DB
TASelect/Tests/UnitTests/Out/
*.tlb
*.suo
*.aps
HydronicPics/HydronicPics.vcxproj.user
*.pch
*.obj
*.log
*.pdb
*.user
*.vspscc
HydronicPics/LPP_AT/Debug/
lib/Debug/
lib/Release/
Spread/FpLibs/msdasdk/LIB/
Spread/SS/Src/ssprvwpp/SS30PP_i.c
Vld/lib/
Spread/FpLibs/htmlhelp/htmlhelp.lib
*.asm
PredictedInputCache_Release_Win32.dat
PredictedInputCache_Debug_Win32.dat
NewIn.txt.tmp
*.bak
*.orig
PredictedInputCache_Debug_x64.dat
TASelect/PressurisationDB.sqlite
TASelect/HyAppDB.sqlite
*.i
TASelect/Tests/UnitTests/Data/utests_verifyarticlenumbers/Articles.txt
.vs/
PredictedInputCache_TASelect_Debug_Win32.dat
PredictedInputCache_TASelect_Release_Win32.dat
HydronicPics/stdafx.pchast
DFU/DFUSe/STDFU/Debug/
DFU/DFUSe/STDFU/Release/
DFU/DFUSe/STDFUFiles/Debug/
DFU/DFUSe/STDFUFiles/Release/
DFU/DFUSe/STDFUPRT/Debug/
DFU/DFUSe/STTubeDevice/Debug/
DFU/NewDFUSe/dfu-util/Debug/
DFU/NewDFUSe/getopt/Debug/
DFU/NewDFUSe/libusb/Debug/
DFU/DFUSe/STTubeDevice/Release/
DFU/DFUSe/STDFUPRT/Release/
DFU/NewDFUSe/dfu-util/Release/
DFU/NewDFUSe/getopt/Release/
DFU/NewDFUSe/libusb/Release/
*.res

Spread/FpLibs/FPTOOLS/DLL32/objud64/FPTOOLS.tlog/

*.tlog

*.sbr
